@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link-expand {
    @apply transition transform hover:scale-110 motion-reduce:transition-none motion-reduce:hover:transform-none
  }
}

body {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --swiper-theme-color: #484349;
}
